@charset "UTF-8";

body{
    background-image: url(../imagens/espaco.jpg);
    background-size: cover;
    background-position: center top;
}

div{
    background-image: url(../imagens/astronauta.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 96vh;
}